@model Note

@{
    ViewBag.Title = "Create";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var taskListsHub = $.connection.tasklistsHub;

            $("#submitButton").click(function () {
                taskListsHub.createNote();
            });

            $.connection.hub.start();
        });
    </script>  
}

@if (ViewBag.ValidationErrors != null)
{
    @Html.DisplayForValidationErrors((IEnumerable<ValidationResult>) ViewBag.ValidationErrors)
}

@using (Html.BeginForm("Create", "Notes", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_CreateOrEdit", Model)

    <div class="form-actions">
        @Html.Button("submit", "Create", new { @class = "btn btn-primary", id = "submitButton" }) | 
        @Html.ActionLink("Back to List", "Index", new { taskListOwnerId = ViewBag.ContainerOwnerId, taskListId = ViewBag.ContainerId })
    </div>
}