@model IEnumerable<User>

@{
    ViewBag.Title = "Associate Users";
    var taskList = (TaskList) ViewBag.TaskListToAssociate;
}

@if (TempData["AlertMessage"] != null)
{
    @Html.DisplayForAlertMessage((string) TempData["AlertMessage"])
}

@using (Html.BeginForm("AssociateUsersToTaskListPost", "Users", new { taskListTitle = taskList.Title, partitionKey = taskList.PartitionKey, rowKey = taskList.RowKey }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_UsersList", Model)

    <div class="form-actions">
        @Html.Button("submit", "Associate", new { @class = "btn btn-primary" }) | @Html.ActionLink("Back to List", "Index", "TaskLists")
    </div>
}