@model IEnumerable<User>

@{
    ViewBag.Title = "Associate Users";
    var note = (Note) ViewBag.NoteToAssociate;
}

@if (TempData["AlertMessage"] != null)
{
    @Html.DisplayForAlertMessage((string) TempData["AlertMessage"])
}

@using (Html.BeginForm("AssociateUsersToNotePost", "Users", new { taskListTitle = note.ContainerList.Title, partitionKey = note.PartitionKey, rowKey = note.RowKey }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_UsersList", Model)

    <div class="form-actions">
        @Html.Button("submit", "Associate", new { @class = "btn btn-primary" }) | @Html.ActionLink("Back to List", "Index", "Notes", new { taskListTitle = note.ContainerList.Title })
    </div>
}