@model TaskList

@using (@Html.BeginFieldset("TaskList"))
{
    <div class="control-group">
        @Html.Label("Title", "Title", new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(n => n.Title, new { @class = "input-xlarge", disabled = "disabled", placeholder = "Type the title" })
        </div>
    </div>
}