@model TaskList

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.ValidationErrors != null)
{
    @Html.DisplayForValidationErrors((IEnumerable<ValidationResult>)ViewBag.ValidationErrors)
}

<h3>Are you sure you want to delete this?</h3>

@using (Html.BeginForm("Delete", "TaskLists", FormMethod.Post, new { @class = "form-horizontal" })) 
{
    @Html.Partial("_DetailsOrDelete", Model)
    
    <div class="form-actions">
        @Html.Button("submit", "Delete", new { @class = "btn btn-primary" }) | @Html.ActionLink("Back to List", "Index")
    </div>
}