@model TaskList

@{
    ViewBag.Title = "Edit";
}

@if (ViewBag.ValidationErrors != null)
{
    @Html.DisplayForValidationErrors((IEnumerable<ValidationResult>) ViewBag.ValidationErrors)
}

@using (Html.BeginForm("Edit", "TaskLists", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_CreateOrEdit", Model)

    <div class="form-actions">
        @Html.Button("submit", "Save Changes", new { @class = "btn btn-primary" })  | @Html.ActionLink("Back to List", "Index")
    </div>
}